<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lms.main.DAO.HomeDAOImp">
	<select id="homeCourseList" resultType="kr.co.lms.main.VO.HomeVO">
		select course_no, course_name, e.employee_name employee_name, course_price, course_img
		from course c join employee e on c.employee_no=e.employee_no
		where rownum<![CDATA[<=]]>8
		order by course_no desc
	</select>
	<select id="homeEventList" resultType="kr.co.lms.main.VO.HomeVO">
		select admin_notice_no, admin_category, admin_notice_title, admin_notice_img, admin_notice_date
		from admin_notice
		where rownum<![CDATA[<=]]>3
		order by admin_notice_no desc
	</select>
	<select id="homeNewsList" resultType="kr.co.lms.main.VO.HomeVO">
		select admin_notice_no, admin_category, admin_notice_title, admin_notice_img, admin_notice_date
		from admin_notice
		where rownum<![CDATA[<=]]>6
		order by admin_notice_no desc
	</select>
</mapper>