<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lms.main.DAO.NewsDAOImp">
	<select id="newsAllSelectRecord" parameterType="kr.co.lms.main.VO.PagingVO" resultType="kr.co.lms.main.VO.NewsVO">
		select * from 	
			(select * from 
				(select admin_notice_no,admin_notice_title,admin_notice_content,admin_notice_img,
					to_char(admin_notice_date,'YYYY')admin_notice_date ,
					to_char(admin_notice_date,'MM')admin_notice_MM_date,
					to_char(admin_notice_date,'DD')admin_notice_DD_date 
					from admin_notice where admin_category=1  order by admin_notice_no desc)
				where  rownum <![CDATA[<=]]>#{pageNum}*#{onePageRecord} order by admin_notice_no asc)
			where  rownum <![CDATA[<=]]>#{lastPageRecord} order  by admin_notice_no desc 
		</select>
	<select id="eventsAllSelectRecord" resultType="kr.co.lms.main.VO.NewsVO">
		select * from 	
			(select * from 
				(select admin_notice_no,admin_notice_title,admin_notice_content,admin_notice_img,
					to_char(admin_notice_date,'YYYY')admin_notice_date ,
					to_char(admin_notice_date,'MM')admin_notice_MM_date,
					to_char(admin_notice_date,'DD')admin_notice_DD_date 
					from admin_notice where admin_category=2 order by admin_notice_no desc)
				where  rownum <![CDATA[<=]]>#{pageNum}*#{onePageRecord} order by admin_notice_no asc)
			where   rownum <![CDATA[<=]]>#{lastPageRecord} order  by admin_notice_no desc 
	</select>
	<select id="newsSelectRecord" resultType="kr.co.lms.main.VO.NewsVO">
		select admin_notice_no, admin_notice_title,admin_notice_content,admin_notice_img,to_char(admin_notice_date,'YYYY-MM-DD')admin_notice_date 
		from admin_notice where admin_category=1 and admin_notice_no=#{param1}  
	</select>
	<select id="eventsSelectRecord" resultType="kr.co.lms.main.VO.NewsVO">
		select admin_notice_no, admin_notice_title,admin_notice_content,admin_notice_img,to_char(admin_notice_date,'YYYY-MM-DD')admin_notice_date 
		from admin_notice where admin_category=2 and admin_notice_no=#{param1}  
	</select>
	<select id="newsGetTotalRecord" resultType="java.lang.Integer">
		select  count(admin_notice_no) from admin_notice where admin_category=1
	</select>
	<select id="eventGetTotalRecord" resultType="java.lang.Integer">
		select  count(admin_notice_no) from admin_notice where admin_category=1
	</select>
	<select id="eventRecordList" resultType="kr.co.lms.main.VO.LeadLagVO">
	select * from(select admin_notice_no, lead(admin_notice_no, 1) over(order by admin_notice_no desc) leadNo, 
					lead(admin_notice_title, 1, '이전글') over(order by admin_notice_no desc) leadSubject, 
					lag(admin_notice_no, 1) over(order by admin_notice_no desc) lagNo, 
					lag(admin_notice_title, 1, '다음글') over(order by admin_notice_no desc) lagSubject from admin_notice where admin_category=2)
                    where admin_notice_no = #{param1}
	</select>
	<select id="newsRecordList" resultType="kr.co.lms.main.VO.LeadLagVO">
	select * from(select admin_notice_no, lead(admin_notice_no, 1) over(order by admin_notice_no desc) leadNo, 
					lead(admin_notice_title, 1, '이전글') over(order by admin_notice_no desc) leadSubject, 
					lag(admin_notice_no, 1) over(order by admin_notice_no desc) lagNo, 
					lag(admin_notice_title, 1, '다음글') over(order by admin_notice_no desc) lagSubject from admin_notice where admin_category=1)
                    where admin_notice_no = #{param1}
	</select>
</mapper>