<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lms.admin.DAO.AdminRegiInterface">
	<select id="selectAllCalendar" 
			parameterType="kr.co.lms.admin.VO.AdminCalendarVO"
			resultType="kr.co.lms.admin.VO.AdminCalendarVO"> 
		SELECT 
			calendar_no, 
			employee_no,
			calendar_title,
			calendar_color,
			calendar_content,
			TO_CHAR(calendar_start_date, 'YYYY-MM-DD') calendar_start_date,
			TO_CHAR(calendar_end_date + 1, 'YYYY-MM-DD') calendar_end_date,
			TO_CHAR(calendar_date, 'YYYY-MM-DD') calendar_date
		FROM 
			calendar
	</select>

	<select id="totalPrice"
			resultType="String">
		SELECT SUM(payment_price) FROM payment
	</select>
	<select id="totalTeacher"
			resultType="String">
		SELECT COUNT(rownum) FROM employee
	</select>
	<select id="totalStudent"
			resultType="String">
		SELECT COUNT(rownum) FROM student
	</select>
	<select id="totalCourse"
			resultType="String">
		SELECT COUNT(rownum) FROM course
	</select>
	
	<select id="paymentTeacher"
			resultType="kr.co.lms.admin.VO.AdminMainHomeVO">
        SELECT 
			c.employee_name,
		 	COUNT(*) payment_num
		FROM 
			payment p JOIN course c ON p.course_no = c.course_no
		GROUP BY
		   c.employee_name
		ORDER BY
			payment_num
		DESC
	</select>
	<select id="paymentCourse"
			resultType="kr.co.lms.admin.VO.AdminMainHomeVO">
		SELECT 
			c.course_name,
		 	COUNT(*) course_num
		FROM 
			payment p JOIN course c ON p.course_no = c.course_no
		GROUP BY
			c.course_name 
		ORDER BY
			course_num
		DESC
	</select>	
	
		

</mapper> 