@charset "UTF-8";
ul li{padding:0; margin:0}
#menuList{border-bottom:3px solid gray; height:50px;line-height:50px}
#menuList>li{line-height:50px; height:50px; float:left; color:#FFF; width:20%; text-align:center; color:gray;}
#menuList>li>ul{z-index:100; position:relative; display:none; text-align:center;}
.calendar img{display:inline-block}